body{
     background: linear-gradient(135deg, #FFECD2, #FFB6B9);
     font-family:'Arial', sans-serif ;
     margin: 0%;
     padding: 0;
     padding: 20px;
     min-height: 0%;
     display: flex;
     flex-direction: column;
     align-items: center ;
     padding: 20px;
}
ul{
     padding: 0;
     margin: 20% 0;
     list-style: none;
}
ul li{
     display: inline-block;
     margin-right: 20px;
}
ul li a button{
      padding: 12px 25px;
   background-color: linear-gradient(135deg, #FFB6B9, #FFECD2);
   color: rgb(0, 0, 0);
   border: none;
   border-radius: 12px;
   cursor: pointer;
   font-size: 20px;
   font-weight: bold;
   box-shadow:  0 6px 12px rgba(0,0,0,0.2);
   transition: all 0.6s ease;
   text-transform: uppercase  ;
}
ul li a button:hover{
     background: linear-gradient(135deg, #FF6347, #FF0000);
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);

}